<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trending repositories languages API</title>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: sans-serif;
        margin: 25px;
        color: #222;
        background-color: #f5f5f5;
      }

      h1 {
        font-weight: bold;
      }

      code {
        font-family: monospace;
        font-size: 1.2em;
        background-color: #fffec4;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <h1>Trending repositories languages API</h1>
    <hr />
    <p>
      Endpoints:
      <ul>
          <li>
            <a href="/api/github/trending-languages">
                <code>[GET] /api/github/trending-languages</code>
            </a>
          </li>
      </ul>
    </p>
  </body>
</html>
